.carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: rgba(0, 0, 0, 0.123); 
    transition: background-color 0.3s ease;
}

 .carousel-item img {
    height: 500px;         
    width: 100%;
    object-fit: cover;     
  }

   .nav-item:hover{
    background-color: #8f1a1c;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .nav-link:hover{
    color: white !important;
  }



